<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include ./layout/head %>

    <title>Trang chủ</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>

<body>
    <%- include ./layout/header %>

    <div class="category intro" id="about">
        <h1 class="intro__title">Danh mục sản phẩm</h1>
        <div class="intro__content">
            <i class="fas fa-child"></i>
            <h2 class="intro__content-title">Chăm sóc da toàn thân</h2>
            <p class="intro__content-para">Bạn có muốn sở hữu một làn da khỏe mạnh và căng tràn sức sống không nào?
            </p>
            <a href="/guess/category/bodyskin" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="far fa-smile-wink"></i>
            <h2 class="intro__content-title">Chăm sóc da mặt</h2>
            <p class="intro__content-para">Khuôn mặt bạn sẽ rạng ngời hơn biết bao nhiêu khi được chăm sóc với những sản phẩm tốt nhất!
            </p>
            <a href="/guess/category/faceskin" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-palette"></i>
            <h2 class="intro__content-title">Trang điểm</h2>
            <p class="intro__content-para">Tô điểm cho khuôn mặt là điều không thể thiếu phải không nào?
            </p>
            <a href="/guess/category/makeup" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-paint-brush"></i>
            <h2 class="intro__content-title">Dụng cụ trang điểm</h2>
            <p class="intro__content-para">Thử son bằng cọ đi, bạn sẽ thấy màu son lên đẹp hơn bao giờ hết đấy!
            </p>
            <a href="/guess/category/makeuptool" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-wine-bottle"></i>
            <h2 class="intro__content-title">Nước hoa</h2>
            <p class="intro__content-para">Tự tin hơn với những mùi hương đặc trưng cho tính cách của bạn nào!
            </p>
            <a href="/guess/category/perfume" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-magic"></i>
            <h2 class="intro__content-title">Chăm sóc tóc và móng</h2>
            <p class="intro__content-para">Cái răng cái tóc là góc con người đó nha! Tóc đẹp thì đời mới vui!
            </p>
            <a href="/guess/category/hairnail" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-spa"></i>
            <h2 class="intro__content-title">Dịch vụ làm đẹp</h2>
            <p class="intro__content-para">Đến Spa thư giãn sau một ngày làm việc căng thẳng thích lắm đó!
            </p>
            <a href="/guess/category/beautyservice" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-server"></i>
            <h2 class="intro__content-title">Dịch vụ trang điểm</h2>
            <p class="intro__content-para">Bạn muốn chụp hình cưới? Bạn muốn có một ngày kỷ yếu thật xinh đẹp?
            </p>
            <a href="/guess/category/makeupservice" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fab fa-leanpub"></i>
            <h2 class="intro__content-title">Khóa học trang điểm</h2>
            <p class="intro__content-para">Tự mình trang điểm đẹp như một chuyên gia, còn gì hạnh phúc hơn chứ!
            </p>
            <a href="/guess/category/makeupcourse" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-user-alt"></i>
            <h2 class="intro__content-title">Dành riêng cho quý ông</h2>
            <p class="intro__content-para">Một góc nhỏ dành riêng cho các quý ông nhé!
            </p>
            <a href="/guess/category/formen" class="intro__content-more">Xem thêm</a>
        </div>

    </div>

    <div class="purposeposter">
        <div class="purpose">
            <h1 class="purpose__title">Mục đích của chúng tôi</h1>
            <div class="purpose__content">
                <p>
                    Chúng tôi sẽ luôn đồng hành cùng bạn trong cuộc sống, đặc biệt là trong lĩnh vực làm đẹp, chúng tôi luôn đặt sứ mệnh mang niềm vui tới cho mỗi phụ nữ Việt lên hàng đầu!
                    <br><i class="far fa-check-circle"></i>
                    Đem lại cho bạn trải nghiệm mua sắm tuyệt vời!
                    <br><i class="far fa-check-circle"></i>
                    Cung cấp các sản phẩm chất lượng nhất với giá phải chăng!
                    <br><i class="far fa-check-circle"></i>
                    Cầu nối giữa bạn với các dịch vụ làm đẹp uy tín, hiện đại!
                    <br><i class="far fa-check-circle"></i>
                    Cung cấp những tin tức làm đẹp cực hữu hiệu và đáng tin cậy!

                </p>
            </div>
        </div>
        <poster class="poster">
            <div class="owl-carousel">
                <div class="slide__image">
                    <img src="https://previews.123rf.com/images/marilyna/marilyna1611/marilyna161100050/65881851-bathroom-and-spa-treatment-with-flowers-himalayan-salt-moisturising-cream-pumice-soaps-pink-face-tow.jpg"
                        alt="image">
                </div>
                <div class="slide__image">
                    <img src="https://img.lovepik.com/photo/50094/8056.jpg_wh860.jpg" alt="image">
                </div>
                <div class="slide__image">
                    <img src="https://img.lovepik.com/photo/50094/4672.jpg_wh860.jpg" alt="image">
                </div>
            </div>
        </poster>
    </div>

    <div class="giveinfo">
        <div class="giveinfo__logo">
          <img src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
        </div>
        <p class="giveinfo__para">Bạn muốn nhận ưu đãi qua email?</p>
        <form action="" class="giveinfo__form">
          <input type="text" name="email" class="giveinfo__email" placeholder="Nhập email của bạn...">
          <button class="giveinfo__btn" type="button">go</button>
        </form>
      </div>

    <button class="go-to-top ct-btn ct-btn--primary">
        <i class="fas fa-angle-up"></i>
    </button>

    <%- include ./layout/footer %>
    <script src="../static/libs/owlcarousel/owl.carousel.js"></script>
    <script src="../static/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/js/home.js"></script>
</body>

</html>