<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include ./layout/head %>

    <title>Trang chủ</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>
<body>
    <%- include ./layout/header %>

    <div class="container">
        <div class="category">
            <ul class="category__list">
                <li class="category__item">
                    <a href="#" class="category__link">Chăm sóc da toàn thân</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Chăm sóc da mặt</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Trang điểm</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Dụng cụ trang điểm</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Nước hoa</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Chăm sóc tóc và móng</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Dịch vụ làm đẹp</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Dịch vụ trang điểm</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Khóa học trang điểm</a>
                </li>
                <li class="category__item">
                    <a href="#" class="category__link">Dành riêng cho quý ông</a>
                </li>
            </ul>
        </div>
        <div class="content">
            
        </div>
    </div>

    <button class="go-to-top ct-btn ct-btn--primary">
        <i class="fas fa-angle-up"></i>
    </button>
    
    <%- include ./layout/footer %>
    <script src="../static/libs/owlcarousel/owl.carousel.js"></script>
    <script src="../static/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/js/home.js"></script>
</body>
</html>