<nav class="navbar navbar-default navbar-fixed-top" style="position: absolute;">
    <div class="container-fluid" style="background-color: #408ab4;">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white;" href="/admin">Trang chủ</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/user">Quản lý người dùng</a></li>
            <li><a href="#" style="color: white;">Khác</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <a href="/admin/logout" class="btn btn-success" style="position: absolute; top: 0.8rem; right: 6rem;">Đăng xuất</a>
    </div>
</nav>

