<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="background-color: #408ab4;">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white;" href="/admin">Trang chủ</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/user">Quản lý người dùng</a></li>
            <li><a href="/admin/prodMgt/listprod" style="color: white;">Quản lý sản phẩm</a></li>
            <li><a href="#" style="color: white;">Khác</a></li>
        </ul>
    </div>
</nav>

