@import url("./header.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #266bf5;
    --text: #868f9b;
    --dark: #10161a;
    --border: #eee;
    --gray: #fafafa;
    --itembg: #266bf54d;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    font-family: "Varela Round", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}
a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.ct-btn {
    padding: 1rem 1.7rem;
    font-size: 1.6rem;
    background: white;
    text-decoration: none;
    outline: none;
    border: none;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}
.ct-btn:hover {
    color: var(--dark);
    opacity: 0.8;
}
.ct-btn--primary {
    background: var(--primary);
    color: white;
}
.ct-btn--primary:hover {
    color: white;
}
.go-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
}



#btn-cart {
    height: 3rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    outline: none;
    position: relative;
}
#btn-cart i {
    font-size: 3rem;
    color: var(--primary);
}
#btn-cart i:hover {
    color: var(--itembg);
}
#btn-cart:after {
    position: absolute;
    display: block;
    content: '0';
    top: 0;
    left: 70%;
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 50% 50%;
    color: white;
    background-color: tomato;
}


/* category */
.intro {
    margin: 10rem 2rem 3rem 2rem;
    text-align: center;
}
.intro__title {
    margin-bottom: 10rem;
    position: relative;
}
.intro__title:after {
    background-color: var(--primary);
    display: block;
    content: "";
    position: absolute;
    top: 120%;
    left: 48%;
    width: 60px;
    height: 4px;
}
.intro__content {
    border: 1px solid var(--border);
    padding: 3rem 1rem;
    margin-bottom: 2rem;
    position: relative;
}
.intro__content i {
    color: var(--primary);
    font-size: 36px;
    margin: 1.5rem;
}
.intro__content-title {
    font-size: 2.1rem;
}
.intro__content-para {
    color: gray;
    margin-bottom: 1.5rem;
}
.intro__content-more {
    color: var(--primary);
}
.intro__content-more:hover {
    color: #4f7ad1;
}
.intro__content:hover .intro__content-title {
    color: var(--primary);
}
.intro__content:before {
    display: block;
    background-color: var(--itembg);
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.2s;
}
.intro__content:hover:before {
    width: 100%;
}
/* end category */


/* purposeposter */
.purposeposter {
    margin-bottom: 3rem;
    display: flex;
}
.purpose {
    margin: 2rem;
    width: 50%;
    vertical-align: top;
    padding-left: 3rem;
}
.purpose__title {
    position: relative;
    margin-bottom: 7rem;
}
.purpose__title:after {
    background-color: var(--primary);
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 40px;
    height: 4px;
}
.purpose__content {
    color: rgb(160, 158, 158);
}
.purpose__content p {
    line-height: 35px;
}
.purpose__content i {
    color: var(--primary);
    font-size: 28px;
    font-weight: 300;
    line-height: 35px;
    vertical-align: middle;
}

.poster {
    width: 50%;
    margin-top: 5rem;
}
.slide__image {
    height: 40rem;
}
.slide__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev, .next {
    height: 50px;
    width: 50px;
    padding: 10px;
    background: var(--border);
    color: white;
    position: absolute;
    top: 40%;
    border: 1px solid #c5c3c3;
    opacity: 0.5;
    outline: none;
}
.prev:hover, .next:hover {
    background: #dfdddd;
}
.prev i, .next i {
    font-size: 2rem;
    color: #c5c3c3;
}
.prev {
    left: 75px;
}
.next {
    right: 75px;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    margin: 10px 5px;
    outline: none;
    border: 1px solid white;
}
.dot.active {
    width: 30px;
    border-radius: 10px;
}
.dots {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .purposeposter {
        flex-wrap: wrap;
    }
    .poster {
        width: 100%;
    }
    .purpose {
        width: 100%;
    }
}
/* end purposeposter */


/* giveinfo */
.giveinfo {
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 6rem;
  }
  .giveinfo__logo img {
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
  }
  .giveinfo__para {
    margin: 3.5rem;
    color: #999797;
    font-size: 2.4rem;
    font-style: italic;
  }
  .giveinfo__email {
    width: 40rem;
    height: 7rem;
    border: 0.1rem solid #cdcdcd;
    font-size: 2rem;
    font-style: italic;
    color: #cdcdcd;
    padding: 3rem;
  }
  .giveinfo__btn {
    width: 12.5rem;
    height: 7rem;
    background-color: var(--primary);
    color: white;
    border: none;
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  @media only screen and (max-width: 767px) {
    .giveinfo {
        margin-bottom: 13rem;
      }
      .giveinfo__form {
        display: flex;
        flex-wrap: nowrap;
      }
      .giveinfo__btn {
        margin-left: 0.5rem;
      }
  }
/* end giveinfo */


.footer {
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}
.footer__name {
    margin-left: -10rem;
}
.footer__author {
    margin-top: 6rem;
}
.footer__contact-title {
    font-size: 2.3rem;
    padding-top: 1rem;
}
.contact__list {
    list-style-type: none;
    padding-left: 4rem;
}
@media only screen and (max-width: 767px) {
    .footer {
        flex-wrap: wrap;
    }
    .footer__name, .footer__contact {
        width: 100%;
        margin-left: 10rem;
    }
}









