<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include ../layout/head %>

    <title>Trang chủ</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
</head>

<body>
    <%- include header %>

    <div class="category intro" id="about">
        <h1 class="intro__title">Danh mục sản phẩm</h1>
        <div class="intro__content">
            <i class="fas fa-child"></i>
            <h2 class="intro__content-title">Chăm sóc da toàn thân</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/bodyskin" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="far fa-smile-wink"></i>
            <h2 class="intro__content-title">Chăm sóc da mặt</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/faceskin" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-palette"></i>
            <h2 class="intro__content-title">Trang điểm</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/makeup" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-paint-brush"></i>
            <h2 class="intro__content-title">Dụng cụ trang điểm</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/makeuptool" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-wine-bottle"></i>
            <h2 class="intro__content-title">Nước hoa</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/perfume" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-magic"></i>
            <h2 class="intro__content-title">Chăm sóc tóc và móng</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/hairnail" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-spa"></i>
            <h2 class="intro__content-title">Dịch vụ làm đẹp</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/beautyservice" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-server"></i>
            <h2 class="intro__content-title">Dịch vụ trang điểm</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/makeupservice" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fab fa-leanpub"></i>
            <h2 class="intro__content-title">Khóa học trang điểm</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/makeupcourse" class="intro__content-more">Xem thêm</a>
        </div>
        <div class="intro__content">
            <i class="fas fa-user-alt"></i>
            <h2 class="intro__content-title">Dành riêng cho quý ông</h2>
            <p class="intro__content-para">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit
                amet.
            </p>
            <a href="/member/ctcategory/formen" class="intro__content-more">Xem thêm</a>
        </div>

    </div>

    <div class="purposeposter">
        <div class="purpose">
            <h1 class="purpose__title">Mục đích của chúng tôi</h1>
            <div class="purpose__content">
                <p>
                    Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam
                    id
                    diam
                    maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.
                    <br><i class="far fa-check-circle"></i>
                    Quis varius quam quisque id diam vel quam elementum.
                    <br><i class="far fa-check-circle"></i>
                    Mauris augue neque gravida in fermentum.
                    <br><i class="far fa-check-circle"></i>
                    Orci phasellus egestas tellus rutrum.
                    <br><i class="far fa-check-circle"></i>
                    Nec feugiat nisl pretium fusce id velit ut tortor pretium.
                </p>
            </div>
        </div>
        <poster class="poster">
            <div class="owl-carousel">
                <div class="slide__image">
                    <img src="https://previews.123rf.com/images/marilyna/marilyna1611/marilyna161100050/65881851-bathroom-and-spa-treatment-with-flowers-himalayan-salt-moisturising-cream-pumice-soaps-pink-face-tow.jpg"
                        alt="image">
                </div>
                <div class="slide__image">
                    <img src="https://img.lovepik.com/photo/50094/8056.jpg_wh860.jpg" alt="image">
                </div>
                <div class="slide__image">
                    <img src="https://img.lovepik.com/photo/50094/4672.jpg_wh860.jpg" alt="image">
                </div>
            </div>
        </poster>
    </div>

    

    <button class="go-to-top ct-btn ct-btn--primary">
        <i class="fas fa-angle-up"></i>
    </button>

    <%- include ../layout/footer %>
    <script src="../../static/libs/owlcarousel/owl.carousel.js"></script>
    <script src="../../static/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="../../static/js/home.js"></script>
</body>

</html>