<footer class="footer">
    <div class="footer__name">
        <h1 class="footer__title">jukacosmetic.com</h1>
        <p class="footer__author">&copy; 2019 By Jukapu</p>
    </div>
    <div class="footer__contact">
        <h1 class="footer__contact-title">Liên hệ với chúng tôi</h1>
        <ul class="contact__list">
            <li class="contact__item">Email: ledungjuka@gmail.com</li>
            <li class="contact__item">Số điện thoại: (+84)386359956</li>
            <li class="contact__item">Địa chỉ: 7 Tạ Quang Bửu, HBT, HN</li>
        </ul>
    </div>
</footer>