<header class="header">
  <nav class="nav nav--transparent">
    <div class="container">

      <div class="nav__logo">
        <a href="/">
          <img class="logo" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
          <img class="logo-alt" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
          <span class="header__pagename">Juka Cosmetic</span>
        </a>
      </div>


      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="nav__link">Trang chủ</a>
        </li>
        <li class="nav__item">
          <a href="/guess/ctlistnews" class="nav__link">Tin tức</a>
        </li>
      </ul>
      <button type="button" id="btn-cart" class="btn btn-link">
        <a href="/guess/cart"><i class="fas fa-shopping-cart"></i></a>
      </button>
      <div class="nav__toggler">
        <span class="nav__toggler-icon"></span>
      </div>
    </div>
  </nav>

  <div class="header__content" id="home">
    <h1 class="header__title">Thức tỉnh vẻ đẹp tự nhiên</h1>
    <p class="header__para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi iusto non quos
      rem?
      Nesciunt ab quia tempora nam enim vitae iusto inventore deserunt qui recusandae molestias, iste alias
      dolorum fugiat.</p>
    <form class="header__form" action="">
      <button id="btn-signup" class="header__start" type="button">
        <a href="/guess/signup">Đăng ký</a>
      </button>
      <button id="btn-signin" class="header__more" type="button">
        <a href="/guess/signin">Đăng nhập</a>
      </button>

      <div class="form-group form-search">
        <div class="col-md-6">
          <input type="text" class="form-control input__search" name="keyword" placeholder="Nhập từ khóa">
        </div>
        <button type="submit" id="btn-search" class="btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>
</header>